@model IEnumerable<BPS0026_MVC_WEB.Models.Order>

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/OrderCss.css" rel="stylesheet" />
</head>
<body>
    <h2>Customer Lists</h2>
    <table>
        <tr>
            <td>Order No.</td>
            <td>Customer Name</td>
            <td>Order Date</td>
            <td>Total Amount</td>
            <td></td>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(order.No, "Orderdetails", new { id = order.Id, no = order.No })
                </td>
                <td>@order.CustomerName.</td>
                <td>@order.Date</td>
                <td><b>@order.Amount</b></td>
                <td>
                    @Html.ActionLink("Edit", "EditCustomer", new { id = order.Id })
                    |
                    @Html.ActionLink("Delete", "DeleteCustomer", new { id = order.Id })
                </td>

            </tr>
        }
    </table>
</body>
</html>