@model BPS0026_MVC_WEB.Models.Customer
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Delete Customer</h2>
    @using (Html.BeginForm("ConfirmedDeleteCustomer", "Home"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CustomerId)
        <table>
            <tr>
                <td>Customer No.</td>
                <td>Customer Name</td>
                <td>Date</td>
            </tr>
            <tr>
                <td>
                    @Model.No
                </td>
                <td>
                    @Model.CustomerName
                </td>
                <td>
                    @Model.Date
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Delete" />
    }
</body>
</html>