@model BPS0026_MVC_WEB.Models.Customer
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Edit Customer</h2>
    @using (Html.BeginForm("ConfirmedEditCustomer", "Home"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CustomerId)
        <table>
            <tr>
                <td>Customer No.</td>
                <td>Customer Name</td>
                <td>Date</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="no" value="@Model.No" placeholder="Order No" required />
                </td>
                <td>
                    <input type="text" name="customername" value="@Model.CustomerName" placeholder="Customer Name" required />
                </td>
                <td>
                    <input type="text" name="date" value="@Model.Date" placeholder="Date" required />
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Edit" />
    }
</body>
</html>