@model IEnumerable<BPS0026_MVC_WEB.Models.Order>

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @Html.ActionLink("Return Home", "CustomerHome", "Home")

    <h2>@ViewData["no"]</h2>
    <span>Order Details</span>
    <table id="orderDetailsTable">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Iorder in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(orders => Iorder.Item)</td>
                    <td>@Html.DisplayFor(orders => Iorder.Date)</td>
                    <td>@Html.DisplayFor(orders => Iorder.Quantity)</td>
                    <td>@Html.DisplayFor(orders => Iorder.Price)</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>