@model BPS0026_MVC_WEB.Models.Customer

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/OrderCss.css" rel="stylesheet" />
</head>
<body>

    <input type="button" value="Return Home" class="returnHome" />
    <h2>@ViewData["no"]</h2>
    <table>
        <tr>
            <td>Order No.</td>
            <td>Customer Name</td>
            <td>Order Date</td>
            <td>Total Amount</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(Model => Model.No)</td>
            <td>@Html.DisplayFor(Model => Model.CustomerName)</td>
            <td>@Html.DisplayFor(Model => Model.Date)</td>
            <td><b>@Html.DisplayFor(Model => Model.Amount)</b></td>
        </tr>
    </table>

    <script>
    document.querySelector('.returnHome').addEventListener('click', event => {
        location.href = "@Url.Action("CustomerHome", "Home")";
    });
    </script>
</body>
</html>